<style>
    .nav-link{
      color:black !important;
      font-size:20px;
      font-family:Monotype, sans;

    }

    a:hover{
      color:whitesmoke !important;
    }

    .dropdown-item{
      color:chocolate !important;
    }

</style>


    <!-- navbar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:blueviolet;">
        <a class="navbar-brand" href="{{'/'}}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{'/aboutus'}}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{'/contactus'}}">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Cafeteria</a>
                <a class="dropdown-item" href="#">Gym</a>
                <a class="dropdown-item" href="#">Library</a>
               
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{'/feedback'}}">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{'/sportsdetails'}}">Sports We Offer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{'/membership_plans'}}">Our Plans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{'/coach_details'}}">Our Coaches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{'/member_registration'}}">MemberRegistration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{'/member_login'}}">MemberLogin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#faqdiv">FAQS</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
      <!--navbar ends here-->
